:host {
    .navbar {
      position: fixed;
      top: 0;
      right: 0;
      
      height: 70px;
      
      box-shadow: 0 2px 4px rgba(0,0,0,0.05);
      z-index: 999;
      transition: all 0.3s ease;
  
      &.sidebar-collapsed {
        left: 10px;
      }
    }
  
    .navbar-menu-wrapper {
    
      width: 100%;
    }
  }
  
  @media (max-width: 991px) {
    :host {
      .navbar {
        left: 0;
        
        &.sidebar-collapsed {
          left: 0;
        }
      }
    }
  }