#ftco-navbar {
    position: fixed; /* Fixe la navbar en haut */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* S'assurer qu'elle est au-dessus des autres éléments */
    background: rgba(0, 0, 0, 0.6); /* Fond transparent */
    transition: background 0.3s ease-in-out;
  }
  