<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../../../assets/landing/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Course Lists <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Course Lists</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="video-conference">
                    <h4>Live Video Conference</h4>
                    <!--
                    TODO Show start | join buttons depending on the logged-in user
                    -->
                    <div class="d-flex gap-2">
                        <button class="btn btn-primary" (click)="startConference()">Start Conference</button>
                        <button class="btn btn-secondary" (click)="joinConference()">Join Conference</button>
                        <button class="btn btn-danger" (click)="endConference()">End Conference</button>
                    </div>
                    <div id="jitsi-container" class="mt-3"></div>
                </div>

            </div>
        </div>
    </div>
</section>