<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">{{page.title}}</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Module Management</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> {{page.breadcrumb}} </li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <!--
            <div class="col-md-6 grid-margin stretch-card">
            -->
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ page.cardTitle }}</h4>
                        <p class="card-description">{{page.cardDescription}}</p>
                        <form class="forms-sample" [formGroup]="moduleForm" (ngSubmit)="saveModule()">
                            <div *ngIf="id" class="form-group">
                                <label for="module-id">ID</label>
                                <input disabled type="text" class="form-control" id="module-id" value="{{id}}"/>
                            </div>
                            <div class="form-group">
                                <label for="course-title">Title</label>
                                <input formControlName="title" type="text" class="form-control" id="course-title" placeholder="Course Title" />
                                <div class="invalid-feedback"
                                     *ngIf="moduleForm.controls?.['title']!.invalid && moduleForm.controls?.['title']!.touched"
                                >
                                    Please Enter Course Title
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="module-description">Module Description</label>
                                <textarea formControlName="description" class="form-control" id="module-description" rows="4"
                                ></textarea>
                                <div class="invalid-feedback"
                                     *ngIf="moduleForm.controls?.['description']!.invalid && moduleForm.controls?.['description']!.touched"
                                >
                                    Please Enter Module Description
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <input
                                            type="file"
                                            multiple
                                            class="form-control file-input"
                                            placeholder="Attach File"
                                            aria-label="Attach File"
                                            aria-describedby="basic-addon2"
                                            #fileUpload
                                            (change)="selectFiles($event)"
                                    >
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="button" (click)="fileUpload.click()">
                                            <i class="mdi mdi-attachment"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
                              <ul>
                                <li *ngFor="let msg of message; let i = index">{{ msg }}</li>
                              </ul>
                            </div>

                            <div *ngIf="selectedFiles && selectedFiles.length > 0" class="form-group card mt-3">
                                <div class="card-header">Attachments</div>
                                <ul class="list-group list-group-flush">
                                    <li *ngFor="let file of [].constructor(selectedFiles?.length); let i = index" class="list-group-item">
                                        <a href="">{{ selectedFiles.item(i)?.name }} | {{ humanReadableFileSize(selectedFiles.item(i)?.size) }} | {{ selectedFiles.item(i)?.type }} </a>
                                        <button (click)="removeFile(i)"
                                                type="button"
                                                class="btn btn-inverse-danger btn-icon float-right"
                                                title="Remove this attachment">
                                            <i class="mdi mdi-trash-can-outline"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <input
                                            formControlName="externalLink"
                                            type="url"
                                            class="form-control file-input"
                                            placeholder="External Links: Video, PDF, Sources, ..."
                                            aria-label="External Links: Video, PDF, Sources, ..."
                                            aria-describedby="basic-addon2"
                                            #externalLink
                                    >
                                    <div class="input-group-append">
                                        <button
                                                class="btn btn-sm btn-primary"
                                                type="button"
                                                [disabled]="!StringUtils.isUrl(externalLink.value)"
                                                (click)="addExternalLink($event)"
                                        >
                                            <i class="mdi mdi-arrow-right"></i>
                                        </button>
                                    </div>
                                    <div class="invalid-feedback"
                                         *ngIf="moduleForm.controls?.['externalLink']!.invalid && moduleForm.controls?.['externalLink']!.touched"
                                    >
                                        Please Enter a Valid URL
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="externalLinks.length > 0" class="form-group card mt-3">
                                <div class="card-header">External Links</div>
                                <ul class="list-group list-group-flush">
                                    <li *ngFor="let link of externalLinks; let i = index" class="list-group-item">
                                        <a href="{{link}}"> {{link}} </a>
                                        <button (click)="removeExternalLink(i)"
                                                type="button"
                                                class="btn btn-inverse-danger btn-icon float-right"
                                                title="Remove this link">
                                            <i class="mdi mdi-trash-can-outline"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>

                            <button [disabled]="!moduleForm.valid" type="submit" class="btn btn-primary mr-2"> Submit </button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
