<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">{{page.title}}</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Course Management</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> {{page.breadcrumb}} </li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <!--
            <div class="col-md-6 grid-margin stretch-card">
            -->
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ page.cardTitle }}</h4>
                        <p class="card-description">{{page.cardDescription}}</p>
                        <form class="forms-sample" [formGroup]="courseForm" (ngSubmit)="saveCourse()">
                            <div *ngIf="id" class="form-group">
                                <label for="course-title">ID</label>
                                <input disabled type="text" class="form-control" id="course-id" value="{{id}}"/>
                            </div>
                            <div class="form-group">
                                <label for="course-title">Title</label>
                                <input formControlName="title" type="text" class="form-control" id="course-title" placeholder="Course Title" />
                                <div class="invalid-feedback"
                                        *ngIf="courseForm.controls?.['title']!.invalid && courseForm.controls?.['title']!.touched"
                                >
                                    Please Enter Course Title
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="course-title">Course Description</label>
                                <textarea formControlName="description" class="form-control" id="course-description" rows="4"
                                ></textarea>
                                <div class="invalid-feedback"
                                     *ngIf="courseForm.controls?.['description']!.invalid && courseForm.controls?.['description']!.touched"
                                >
                                    Please Enter Course Description
                                </div>
                            </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Course Level</label>
                                    <div class="col-sm-9">
                                        <select formControlName="level" class="form-control">
                                            <option value="BEGINNER">BEGINNER</option>
                                            <option value="INTERMEDIATE">INTERMEDIATE</option>
                                            <option value="ADVANCED">ADVANCED</option>
                                        </select>
                                        <div class="invalid-feedback"
                                             *ngIf="courseForm.controls?.['level']!.invalid && courseForm.controls?.['level']!.touched"
                                        >
                                            Please Select a Course Level
                                        </div>
                                    </div>
                                </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-primary text-white">$</span>
                                    </div>
                                    <input formControlName="price" type="number" class="form-control" aria-label="Course Fees" placeholder="Course Fees"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                    <div class="invalid-feedback"
                                         *ngIf="courseForm.controls?.['price']!.invalid && courseForm.controls?.['price']!.touched"
                                    >
                                        Please Enter a Positive Number for Course Price
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input formControlName="duration" type="text" class="form-control" aria-label="Course Duration" placeholder="Course Duration"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Weeks</span>
                                    </div>
                                    <div class="invalid-feedback"
                                         *ngIf="courseForm.controls?.['duration']!.invalid && courseForm.controls?.['duration']!.touched"
                                    >
                                        Please Enter a Positive Number for Course Duration
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Category</label>
                                <div class="col-sm-9">
                                    <select formControlName="category" class="form-control" [compareWith]="compareCategories">
                                        <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
                                    </select>
                                    <div class="invalid-feedback"
                                         *ngIf="courseForm.controls?.['category']!.invalid && courseForm.controls?.['category']!.touched"
                                    >
                                        Please Select a Course Category
                                    </div>
                                </div>
                            </div>

                            <button [disabled]="!courseForm.valid" type="submit" class="btn btn-primary mr-2"> Submit </button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
