.ftco-navbar-light {
    background: transparent !important;
    position: fixed;
    top: 0; /* Adjust this value based on your navbar height */
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s;
}

.ftco-navbar-light.scrolled {
    background: white !important;
    top: 0 !important;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #4986fc;
}
